<%#= if シフト作成者なら %>
  <%# 全員のシフトを編集できる %>
  <%# 自分のだけも編集できる %>
<%# end %>

<%#= if シフト作成者じゃないなら %>
  <%# 自分のシフトを編集できる%>
<%# end %>

<div class="shift-main">
  <div class="form-area">
    <%= form_with model: @shift, url: shifts_path, class: 'shift-main', local: true do |f| %>

      <div class="start-time">
        <%= f.label "出勤時間", class:"shift-label" %><br />
        <%= f.datetime_select :start_time, class:"shift-input" %>
      </div>

      <div class="finish-time">
        <%= f.label "退勤時間", class:"shift-label" %><br />
        <%= f.datetime_select :finish_time, class:"shift-input" %>
      </div>
      <div class="comment">
        <%= f.label "コメント", class:"shift-label" %><br />
        <%= f.text_field :comment, class:"comment-input"%>

      <div class="shift-submit">
        <%= f.submit "変　更", class:"shift-button" %>
      </div>
    <% end %>
  </div>

  <div class="shift-return">
    <%= link_to "戻る", shifts_path, class:"return-button" %>
  </div>

  <div class="calender-area">
    <%= month_calendar shifts: @shifts do |date, shifts| %>
      <%= date.day %>
    <% end %>
  </div>
</div>