<div class="index-header">
  <div class="title">
    <h1>~シフト管理~</h1>
  </div>
  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li class="user-area"><%= link_to current_user.number, "#", class: "number-shift" %></li>
      <li class="user-area"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-shift" %></li>
    <% else %>
      <li class="user-area"><%= link_to 'ログイン', new_user_session_path, class: "login-shift" %></li>
      <li class="user-area"><%= link_to '新規登録', new_user_registration_path, class: "signup-shift" %></li>
    <% end %>
  </ul>
</div>

<div class="index-main">

  <%# 左側 %>
  <div class="index-left">
    <div class="today-shift">
      予定シフト
      <div class="shift-week">
        
      </div>
    </div>
    <div class="button-area">
      <ul class="lists-button">
        <li class="index-button"><%= link_to 'シフト確認', '#', class: "shift-show" %></li>
        <%# シフト作成者だった時のみ表示 %>
        <li class="index-button"><%= link_to 'シフト作成', '#', class: "shift-edit" %></li>
        <%# ここまで %>
        <li class="index-button"><%= link_to 'ユーザー情報', '#', class: "user-edit" %></li>
      </ul>
    </div>
  </div>
  <%# 左側 %>

  <%# 右側 %>
  <div class="index-right">
    <div class="shift-form">
      <%= form_with model: @shift, url: shifts_path, class: 'shift-main', local: true do |f| %>

        <div class="shift-time">
          <div class="start-time">
            <%= f.label "出勤時間", class:"shift-label" %><br />
            <%= f.datetime_select :start_time, class:"shift-input" %>
          </div>

          <div class="finish-time">
            <%= f.label "退勤時間", class:"shift-label" %><br />
            <%= f.datetime_select :finish_time, class:"shift-input" %>
          </div>
        </div>
        <div class="comment">
          <%= f.label "コメント", class:"shift-label" %><br />
          <%= f.text_field :comment, class:"comment-input"%>
        </div>
        <div class="shift-submit">
          <%= f.submit "決　定", class:"shift-button" %>
        </div>
      <% end %>
    </div>
    <div class="calender-area">
      <%= month_calendar shifts: @shift do |date, shift| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
  <%# 右側 %>
</div>
