<div class="index-header">
  <div class="title">
    <h1>~シフト管理~</h1>
  </div>
  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li class="user-area"><%= link_to current_user.number, "#", class: "number-shift" %></li>
      <li class="user-area"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-shift" %></li>
    <% else %>
      <li class="user-area"><%= link_to 'ログイン', new_user_session_path, class: "login-shift" %></li>
      <li class="user-area"><%= link_to '新規登録', new_user_registration_path, class: "signup-shift" %></li>
    <% end %>
  </ul>
</div>


<div class="index-main">
  <% if user_signed_in? %>
    <%# 左側 %>
    <div class="index-left">
      
      <div class="button-area">
        <ul class="lists-button">
          <li class="index-button"><%= link_to 'シフト提出', new_shift_path, class: "shift-new" %></li>
          <li class="index-button"><%= link_to '提出シフト確認', '#', class: "shift-show" %></li>
          <li class="index-button"><%= link_to 'ユーザー情報', '#', class: "user-edit" %></li>
          <% if current_user.editor_id == 2 %>
            <li class="index-button"><%= link_to 'シフト作成', '#', class: "shift-editor"%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%# 左側 %>

    <%# 右側 %>
    <div class="index-right">
      <h1 class="check-title">出勤予定</h1>
      <div class="shift-check">
      <%# 確定シフトを表示させる %>
        <%# if @days.month == @shifts.date.month %>
          <%# @days.each do |day| %>
            <%# @shifts.each do |shift| %>
              <%# if day == shift.date.day %>
                <div class="a-shift">
                  <div class="shift-date">
                    <%#= shift.date.year %>年<%#= shift.date.month %>月<%#= shift.date.day %>日<br />
                  </div>
                  <div class="shift-time">
                    <%#= shift.start_time.strftime( "%H:%M" ) %>-<%#= shift.finish_time.strftime( "%H:%M" ) %><br />
                  </div>
                </div>
                <%# if shift.comment != nil %>
                  <%#= shift.comment %>
                <%# end %>
              <%# end %>
            <%# end %>
          <%# end %>
        <%# end %>
      </div>

    </div>
    <%# 右側 %>
  <% else %>
    <div class="not-signin">
      <div class="index-left">
        <div class="notlogin">ログイン・新規登録をしてください</div>
      </div>
      <div class="index-right">
        <div class="calender-area">
          <%= month_calendar shifts: @shift do |date, shift| %>
            <%= date.day %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
